@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.dashboard-card {
  background-color: #485f39;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.dashboard-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  padding: 12px 0px;
  background-color: #485f39;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: "League Spartan";
}

.dashboard-card-content {
  min-height: 200px;
  min-width: 380px;
  background-color: #f0f1e8;
  color: black;
}

.dashboard-card-footer {
  background-color: #485f39;
  display: flex;
  margin: 0;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  justify-content: space-between;
}

.broadcast-item {
  margin-bottom: 16px;
}

.broadcast-author {
  color: #7e3400;
}

.broadcast-content {
  font-family: "Verdana";
}

.broadcast-arrows {
  margin-top: 5px;
}

.create-message {
  font-size: 14px;
}

.create-message:hover {
  background-color: #d3d3d3;
  transition: 0.3s ease-out;
  color: #485f39;
}
