@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.dashboard-card {
  background-color: #485f39;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.dashboard-card-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0px 30px;
  padding: 0px 0px;
  height: 78px;
  background-color: #485f39;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "League Spartan";
}

#broadcast-title {
  margin-left: 26px;
  margin-top: 10px;
}

.broadcast-icon {
  font-size: 30px;
}

.dashboard-card-content {
  display: flex;
  height: 200px;
  padding: 26px 0px 0px 0px;
  background-color: #f0f1e8;
  color: black;
}

.dashboard-card-footer {
  background-color: #485f39;
  display: flex;
  align-items: center;
  height: 62px;
  padding: 0px 14px;
  border-radius: 10px;
  color: white;
  justify-content: space-between;
}

.broadcast-item {
  margin-bottom: 16px;
}

.broadcast-author {
  color: #7e3400;
  margin: 0px 0 10px 30px;
  text-align: left;
}

.profile-image {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  margin-top: 6px;
  border-radius: 10px;
  border: 0.5px solid black;
}

.broadcast-content {
  font-family: "Verdana";
}

.broadcast-message,
#empty-broadcast-message {
  text-align: left;
  margin-left: 30px;
  margin-right: 24px;
  font-size: 14px;
}

.broadcast-arrows {
  display: flex;
  margin-bottom: 5px;
}

.create-message {
  font-size: 14px;
}

.create-message:hover {
  background-color: #d3d3d3;
  transition: 0.3s ease-out;
  color: #485f39;
}

/* #loudspeaker-right {
  transform: rotate(180deg);
} */

.broadcast-footer {
  background-color: #485f39;
  display: flex;
}

.broadcast-arrow {
  background-color: #485f39;
  color: white;
  padding: 8px;
  font-size: 24px;
}

.broadcast-buttons:hover {
  background-color: #f0f1e8;
  transition: 0.3s ease-in;
}
