/* card footer button needs styling */

.card {
  background-color: #485f39;
  width: 390px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  padding: 0px 0px;
  height: 78px;
  background-color: #485f39;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "League Spartan";
}

.card-title {
  padding: 20px;
}

.card-content {
  display: flex;
  height: 200px;
  width: 390px;
  padding: 26px 0px 0px 0px;
  background-color: #f0f1e8;
  color: black;
}

.card-footer {
  background-color: #485f39;
  display: flex;
  align-items: center;
  height: 62px;
  padding: 0px 14px;
  border-radius: 10px;
  color: white;
  justify-content: space-between;
}
