* {
  box-sizing: border-box;
}

.page-container {
  background-color: #d0d2b7;
}

.dashboard-page {
  padding-top: 120px;
  padding-bottom: 150px;
  margin: 0 28px;
}

.dashboard-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;
}

.dashboard-item > div {
  width: 100%;
  /* height: 100%; */
}

/* media queries */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

/* OnSaleEvents.jsx,
EventsSpotlight.jsx  */

#on-sale-events-item,
#spotlight-list {
  list-style-type: none;
}
