* {
  box-sizing: border-box;
}

.dashboard-page {
  padding-top: 120px;
  padding-bottom: 150px;
  margin: 0 28px;
}

.dashboard-grid {
  display: grid;
  /* margin: 0px 20px; */
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
  grid-gap: 26px;
}

/* media queries */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* OnSaleEvents.jsx,
EventsSpotlight.jsx  */

#on-sale-events-item,
#spotlight-list {
  list-style-type: none;
}
