@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.RecentForumPosts-card {
  /* height: 500px;
    width: 550px; */
  background-color: #485f39;
  border-radius: 10px;
  /* margin: 0; */
  padding: 0;
}

.RecentForumPosts-card-header {
  display: flex;
  align-items: center;
  /* margin: 0 30px; */
  padding: 10px 0;
  background-color: #485f39;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-family: "League Spartan";
}

.RecentForumPosts-card-content {
  /* height: 350px;
  width: 550px; */
  background-color: #f0f1e8;
  color: black;
  overflow-y: auto;
  padding: 10px;
  /* box-sizing: border-box; */
}

.RecentForumPosts-card-footer {
  background-color: #485f39;
  display: flex;
  margin: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  justify-content: space-between;
}

.RecentForumPosts-card-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.RecentForumPosts-card-content li {
  position: relative;
  padding-left: 20px;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid #ddd;
}

.RecentForumPosts-card-content li::before {
  content: ">";
  position: absolute;
  left: 0;
  color: #485f39;
  font-weight: bold;
}

.forum-post-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forum-post-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.forum-post-date {
  font-size: 12px;
  color: #666;
}

/* Alternate background colors for forum posts */
.RecentForumPosts-card-content li:nth-child(odd) {
  background-color: #d0d2b7;
}

.RecentForumPosts-card-content li:nth-child(even) {
  background-color: #f485f39;
}

/* New container for list items */
.forum-posts-container {
  margin: 0;
  padding: 0;
}
