
h1{
    margin-top: 75px;
}

h2{
    margin-bottom: 60px;
}


.topContainer{
    display: flex;
    flex-direction: row;
}

.bios-container{
    display: flex;
    filter: grayscale(1);
}


.portraits{
    width: 100%;
}


.communityImg{
    width: 400px;
}