body {
  font-family: "League Spartan";
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0.8rem;
  font-size: 2.3rem;
}

/* spacing between navbar and headers and flexbox containers below*/
.headers {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.topContainer {
  margin-top: 2rem;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* hide up some of the bios to allow parallax-esque scroll */
.cards-col {
  height: 100vh;
  overflow: scroll;
}

.img-col {
  position: sticky;
  overflow-y: auto;
}

/* uniform formatting of headshots */
.portraits {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(1);
  margin-top: 1rem;
}

.communityImg {
  display: block;
  max-height: 300px;
  height: auto;
}

.card {
  background-color: #d0d2b7;
  border: 0pt;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  padding: 0;
  width: 95%;
}

/* for names */
.card-title {
  text-align: left;
  margin-left: 0;
}
