.button{
    font-family: 'League Spartan';
    width: auto !important;
    height: auto !important;
    background-color:  #F4F5EC !important;
    color: #485F39 !important;
    border: #485F39 1px !important;
    margin-top: 0.5rem; 
     margin-bottom: 2rem;
}

