.section-padding {
  padding: 3rem 3rem;
}

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.slogan {
  font-style: italic;
  cursor: default !important;
}

.address {
  cursor: default !important;
}

.footer-links-div, .footer-info-div{
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #485f39;
}



.images {
  display: flex;
  flex-direction: column;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialmedia img {
  width: 20px;
}

.logo {
  margin-bottom: 0.7rem;
}

.socials-container {
  margin-top: -30px;
}


.footer-links-div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.footer-links-div p {
  font-size: 12px;
  line-height: 13px;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #485f39;
}


.footer-info-div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.footer-info-div p {
  font-size: 12px;
  line-height: 13px;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #485f39;
}

.footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.footer-below-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-below-links p {
  font-size: 12px;
  line-height: 15px;
  margin-left: 2rem;
  color: #485f39;
  font-weight: 600;
}

.footer-below-links p:hover, .footer-copyright p:hover, .footer-links-div p:hover{
  color: #CC5500;
}

hr {
  color: #485f39;
  width: 100%;
}

.footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: #485f39;
  font-weight: 600;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* media queries */
